Slug-*
.*
!.gitignore
!.shipit
nytprof*
cover_db*
pm_to_blib
Makefile*
test.*
!Makefile.PL
*blib
MYMETA.yml
META.yml
pod.html
inc/
*.o
*.obj
*.bs
*.def
*.tmp
*.out
*.swp
*.bak
*.old
*.gcda
*.gcno
*.gcov
*.stackdump
*~
